<div class="cointainer-fluid" style="width: 400px; border: 2px solid orange !important;">
  <div class="row header-title justify-content-center" style="margin-left: 1px;">
    <p>{{ this.title }}</p>
  </div>
  <br><br>

  <div class="row d-flex justify-content-center" style="color: navy; font-size: 16px;cursor: pointer;">
    <p>{{this.message}}</p>
  </div><br>

  <div class="row d-flex justify-content-center" style="color: navy; font-size: 16px;cursor: pointer;">
    <button mat-raised-button  color="primary" (click)="onOk()">OK</button>
  </div>
</div>
