<div class="container-fluid" style="margin-top: 10px;">

  <!-- <div class="row d-flex justify-content-center">
    <span class="heading"> Manage Profile : {{userProfile.lastName}}, {{userProfile.firstName}} ({{userProfile.loginID}})</span>
  </div>
  <br> -->

  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 d-flex justify-content-center">
      <mat-card width="100%">
        <div class="d-flex justify-content-center" style="color: navy; font-size: 14px; font: bold;">Click photo to edit/update</div><br>
        <div class="d-flex justify-content-center">
          <img class="frame" (click)="uploadUserProfilePhoto()" [src]="userProfile.photo">
        </div>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-9 col-lg-9">
      <mat-card style="width: 100%;">
        <div class="heading">Profile: {{userProfile.lastName}}, {{userProfile.firstName}}</div><br>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Login ID (UserID)</mat-label>
              <input matInput placeholder="Role ID" readonly value="{{userProfile.loginID}} ({{userProfile.userID}})">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Role (RoleID)</mat-label>
              <input matInput placeholder="Role ID" readonly value="{{userProfile.role}} ({{userProfile.roleID}})">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>E-Mail(required)
              </mat-label>
              <input class="form-group" matInput required [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
                [(ngModel)]="userProfile.email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please Enter a Valid Email Address.
                </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>First Name(required)</mat-label>
              <input matInput placeholder="First Name" required [(ngModel)]="userProfile.firstName">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Middle Name</mat-label>
              <input matInput placeholder="Middle Name" [(ngModel)]="userProfile.middleName">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" [(ngModel)]="userProfile.lastName">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Contact Primary</mat-label>
              <input matInput placeholder="Primary Contact (required)" required [(ngModel)]="userProfile.contactPrimary">
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field appearance="standard" class="full-width">
              <mat-label>Contact Secondary</mat-label>
              <input matInput placeholder="Secondary Contact" [(ngModel)]="userProfile.contactSecondary">
            </mat-form-field>
          </div>


          <br>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <button mat-raised-button (click)="updateUserDetails()" [disabled]="emailFormControl.invalid" color="primary">Update
              User Deatils</button>
          </div>
        </div>
      </mat-card>
    </div>

  </div>

  <br>
  <br>

</div>
