<mat-card style="width: 100%;">

  <form>
    <div class="row justify-content-center">
      <div style="font-size: 24px; color: navy; text-decoration:underline; font-size: 500;">Your Demo Is Just A Click Away!</div>
    </div>

    <br><br>
    <mat-form-field class="width-full">
      <input matInput class="width-full" type="text" name="demoFullName" ngModel [(ngModel)]="requestDemoModel.fullName" [ngModelOptions]="{standalone: true}"
        placeholder="Full Name" required #demoFullName="ngModel">
      <mat-error *ngIf="demoFullName.invalid">Please enter a valid Name</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field class="width-full">
      <input matInput class="width-full" type="text" name="demoEmail" ngModel [(ngModel)]="requestDemoModel.email" [ngModelOptions]="{standalone: true}"
        placeholder="E-Mail" required #demoEmail="ngModel">
      <mat-error *ngIf="demoEmail.invalid">Please enter a valid E-Mail</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field class="width-full">
      <input matInput class="width-full" type="text" name="demoContactNumber" ngModel [(ngModel)]="requestDemoModel.contactNumber" [ngModelOptions]="{standalone: true}"
        placeholder="Contact Number" #demoContactNumber="ngModel">
      <mat-error *ngIf="demoContactNumber.invalid">Please enter a valid Contact Number</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field class="width-full">
      <textarea  class="width-full" matInput type="textarea" name="demoQuery" ngModel [(ngModel)]="requestDemoModel.query" [ngModelOptions]="{standalone: true}"
        placeholder="Your Query Please!" required #demoQuery="ngModel"></textarea>
      <mat-error *ngIf="demoQuery.invalid">Please enter a valid E-Mail</mat-error>
    </mat-form-field>

    <br>
    <div>
      <br>
      <button mat-raised-button color="primary" (click)="click_requestDemo()" type="submit">Submit Demo Request</button>
      <button mat-raised-button color="warn" (click)="cancel()" style="float: right;"
        type="submit">Cancel</button>
    </div>

  </form>
</mat-card>