  <mat-card style="width: 100%;" height="30px">
  <div class="row d-flex justify-content-center" style="margin: -10px;;">

    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
      <div>
        <span>
          <img src="./assets/images/logo/gt_logo.png" alt="Gindowa" height="44px">
        </span> &nbsp;&nbsp;
        <span>
          <img src="./assets/images/logo/sc_logo.png" alt="ScholarCounter" height="44px">
        </span> &nbsp;&nbsp;
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center" >

      <span style="color: grey; font-size: 12px;"> All rights reserved &reg;Gindowa Technologies
        Private Limited,
        2020.</span>

    </div>
  </div>
</mat-card>
