<div class="container-fluid" style="margin-top: 80px;">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 style="color: blue;"><b>
                  Library Account Details
              </b></h1>
          <h3>
              This section shows the details for the library includiing library name, address and administrator details. Please review the details and <span style="color: rgb(82, 82, 248);">contact us</span> if any of the details need to be updated.
          </h3>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
          <mat-tab-group>
              <mat-tab label="Library Details">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-4 col-md-6 col-sm-12">
                              <mat-card class="mat-card">
                                  <mat-card-header>
                                      <mat-card-title>Library Name:</mat-card-title>
                                      <mat-card-subtitle><b>Technical University (Demo Account)</b></mat-card-subtitle>
                                  </mat-card-header>

                              </mat-card>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                              <mat-card class="mat-card">
                                  <mat-card-header>
                                      <mat-card-title>Current Contract Signed on:</mat-card-title>
                                      <mat-card-subtitle><b>01/10/2014</b></mat-card-subtitle>
                                  </mat-card-header>

                              </mat-card>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                              <mat-card class="mat-card">
                                  <mat-card-header>
                                      <mat-card-title>Max. No. of Platforms:</mat-card-title>
                                      <mat-card-subtitle><b>25</b></mat-card-subtitle>
                                  </mat-card-header>
                              </mat-card>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                              <mat-card class="mat-card">
                                  <mat-card-header>
                                      <mat-card-title>Library Code:</mat-card-title>
                                      <mat-card-subtitle><b>999</b></mat-card-subtitle>
                                  </mat-card-header>
                              </mat-card>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                              <mat-card class="mat-card">
                                  <mat-card-header>
                                      <mat-card-title>Activation Type</mat-card-title>
                                      <mat-card-subtitle><b style="color: green;">Real</b></mat-card-subtitle>
                                  </mat-card-header>
                              </mat-card>
                          </div>
                      </div>
                  </div>
              </mat-tab>
              <mat-tab label="Contact Details">
                  Administrator Details
              </mat-tab>
              <mat-tab label="Configurations Details">
                  Secondary Contact Details
              </mat-tab>
              <mat-tab label="Biiling Info">
                  Biiling Address Details
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>
